In [3]:
print("helo word")

helo word

In [20]:
import matplotlib.pyplot

In [25]:
import pandas as pd

f = pd.read_csv('/home/casa/workspace/anaconda/files/20130131_Remuneracao_Servidores.csv', encoding='ISO-8859-9',delimiter=';', low_memory=False)

In [30]:
f.dtypes

ANO                                                                            object
MES                                                                           float64
ID_SERVIDOR_PORTAL                                                            float64
CPF                                                                            object
NOME                                                                           object
REMUNERAÇÃO BÁSICA BRUTA (R$)                                                  object
REMUNERAÇÃO BÁSICA BRUTA (U$)                                                  object
ABATE-TETO (R$)                                                                object
ABATE-TETO (U$)                                                               float64
GRATIFICAÇÃO NATALINA (R$)                                                     object
GRATIFICAÇÃO NATALINA (U$)                                                     object
ABATE-TETO DA GRATIFICAÇÃO NATALINA (R$)                                       object
ABATE-TETO DA GRATIFICAÇÃO NATALINA (U$)                                      float64
FÉRIAS (R$)                                                                    object
FÉRIAS (U$)                                                                    object
OUTRAS REMUNERAÇÕES EVENTUAIS (R$)                                             object
OUTRAS REMUNERAÇÕES EVENTUAIS (U$)                                             object
IRRF (R$)                                                                      object
IRRF (U$)                                                                      object
PSS RPGS (R$)                                                                  object
PSS RPGS (U$)                                                                  object
PENSÃO MILITAR (R$)                                                            object
PENSÃO MILITAR (U$)                                                           float64
FUNDO DE SAÚDE (R$)                                                            object
FUNDO DE SAÚDE (U$)                                                           float64
DEMAIS DEDUÇÕES (R$)                                                           object
DEMAIS DEDUÇÕES (U$)                                                           object
REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)                                    object
REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$)                                    object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*)       object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*)       object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*)     object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*)    float64
TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*)                                         object
TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*)                                         object
TOTAL DE JETONS                                                                object
dtype: object

In [32]:
f.head(5)

,ANO,MES,ID_SERVIDOR_PORTAL,CPF,NOME,REMUNERAÇÃO BÁSICA BRUTA (R$),REMUNERAÇÃO BÁSICA BRUTA (U$),ABATE-TETO (R$),ABATE-TETO (U$),GRATIFICAÇÃO NATALINA (R$),...,DEMAIS DEDUÇÕES (U$),REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$),REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*),TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*),TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*),TOTAL DE JETONS
0,2012,11.0,1891441.0,***.017.623-**,AARAO CARLOS LUZ MACAMBIRA,"3208,44",0,0,0.0,"3208,44",...,0,"3913,14",0,400,0,0,0.0,400,0,0
1,2012,11.0,1758740.0,***.292.777-**,AARAO CAVALCANTE DE AMORIM,"5095,03",0,0,0.0,"5095,03",...,0,"5593,03",0,"592,2",0,0,0.0,"592,2",0,0
2,2012,11.0,1608665.0,***.056.281-**,AARAO DIAMANTINO OLIVEIRA,"21605,74",0,0,0.0,"11385,49",...,0,"19764,33",0,304,0,0,0.0,304,0,0
3,2012,11.0,1664175.0,***.116.132-**,AARAO FERREIRA LIMA NETO,"5833,51",0,0,0.0,"5833,51",...,0,"6628,32",0,304,0,0,0.0,304,0,0
4,2012,11.0,1453249.0,***.031.184-**,AARAO PEREIRA DE ARAUJO JUNIOR,"11562,44",0,0,0.0,"11562,44",...,0,"10833,1",0,600,0,0,0.0,600,0,0

In [33]:
f.tail(5)

,ANO,MES,ID_SERVIDOR_PORTAL,CPF,NOME,REMUNERAÇÃO BÁSICA BRUTA (R$),REMUNERAÇÃO BÁSICA BRUTA (U$),ABATE-TETO (R$),ABATE-TETO (U$),GRATIFICAÇÃO NATALINA (R$),...,DEMAIS DEDUÇÕES (U$),REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$),REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*),TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*),TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*),TOTAL DE JETONS
2375828,2013,1.0,1241287.0,***.041.463-**,ZUZITA DOS SANTOS VIANA,"5560,32",0,0,0.0,0,...,0,"4398,6",0,546,0,0,0.0,546,0,0
2375829,2013,1.0,1674742.0,***.249.365-**,ZWINGLIO ALVES RODRIGUES,"2130,33",0,0,0.0,0,...,0,"1882,11",0,442,0,0,0.0,442,0,0
2375830,2013,1.0,1325880.0,***.857.198-**,ZYSMAN NEIMAN,"8023,49",0,0,0.0,0,...,0,"5771,44",0,"1109,54",0,0,0.0,"1109,54",0,0
2375831,(*) Verbas indenizatórias são as parcelas inde...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2375832,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
f.count()

ANO                                                                           2375833
MES                                                                           2375831
ID_SERVIDOR_PORTAL                                                            2375831
CPF                                                                           2375831
NOME                                                                          2375831
REMUNERAÇÃO BÁSICA BRUTA (R$)                                                 2375831
REMUNERAÇÃO BÁSICA BRUTA (U$)                                                 2375831
ABATE-TETO (R$)                                                               2375831
ABATE-TETO (U$)                                                               2375831
GRATIFICAÇÃO NATALINA (R$)                                                    2375831
GRATIFICAÇÃO NATALINA (U$)                                                    2375831
ABATE-TETO DA GRATIFICAÇÃO NATALINA (R$)                                      2375831
ABATE-TETO DA GRATIFICAÇÃO NATALINA (U$)                                      2375831
FÉRIAS (R$)                                                                   2375831
FÉRIAS (U$)                                                                   2375831
OUTRAS REMUNERAÇÕES EVENTUAIS (R$)                                            2375831
OUTRAS REMUNERAÇÕES EVENTUAIS (U$)                                            2375831
IRRF (R$)                                                                     2375831
IRRF (U$)                                                                     2375831
PSS RPGS (R$)                                                                 2375831
PSS RPGS (U$)                                                                 2375831
PENSÃO MILITAR (R$)                                                           2375831
PENSÃO MILITAR (U$)                                                           2375831
FUNDO DE SAÚDE (R$)                                                           2375831
FUNDO DE SAÚDE (U$)                                                           2375831
DEMAIS DEDUÇÕES (R$)                                                          2375831
DEMAIS DEDUÇÕES (U$)                                                          2375831
REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)                                   2375831
REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$)                                   2375831
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*)      2375831
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*)      2375831
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*)    2375831
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*)    2375831
TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*)                                        2375831
TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*)                                        2375831
TOTAL DE JETONS                                                               2375831
dtype: int64

In [43]:
f.size

85529988

In [45]:
f.head(5)

,ANO,MES,ID_SERVIDOR_PORTAL,CPF,NOME,REMUNERAÇÃO BÁSICA BRUTA (R$),REMUNERAÇÃO BÁSICA BRUTA (U$),ABATE-TETO (R$),ABATE-TETO (U$),GRATIFICAÇÃO NATALINA (R$),...,DEMAIS DEDUÇÕES (U$),REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$),REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*),TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*),TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*),TOTAL DE JETONS
0,2012,11.0,1891441.0,***.017.623-**,AARAO CARLOS LUZ MACAMBIRA,"3208,44",0,0,0.0,"3208,44",...,0,"3913,14",0,400,0,0,0.0,400,0,0
1,2012,11.0,1758740.0,***.292.777-**,AARAO CAVALCANTE DE AMORIM,"5095,03",0,0,0.0,"5095,03",...,0,"5593,03",0,"592,2",0,0,0.0,"592,2",0,0
2,2012,11.0,1608665.0,***.056.281-**,AARAO DIAMANTINO OLIVEIRA,"21605,74",0,0,0.0,"11385,49",...,0,"19764,33",0,304,0,0,0.0,304,0,0
3,2012,11.0,1664175.0,***.116.132-**,AARAO FERREIRA LIMA NETO,"5833,51",0,0,0.0,"5833,51",...,0,"6628,32",0,304,0,0,0.0,304,0,0
4,2012,11.0,1453249.0,***.031.184-**,AARAO PEREIRA DE ARAUJO JUNIOR,"11562,44",0,0,0.0,"11562,44",...,0,"10833,1",0,600,0,0,0.0,600,0,0

In [47]:
f.count( numeric_only=True)

MES                                                                           2375831
ID_SERVIDOR_PORTAL                                                            2375831
ABATE-TETO (U$)                                                               2375831
ABATE-TETO DA GRATIFICAÇÃO NATALINA (U$)                                      2375831
PENSÃO MILITAR (U$)                                                           2375831
FUNDO DE SAÚDE (U$)                                                           2375831
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*)    2375831
dtype: int64

In [56]:
f.count()

ANO                                                                           2375833
MES                                                                           2375831
ID_SERVIDOR_PORTAL                                                            2375831
CPF                                                                           2375831
NOME                                                                          2375831
REMUNERAÇÃO BÁSICA BRUTA (R$)                                                 2375831
REMUNERAÇÃO BÁSICA BRUTA (U$)                                                 2375831
ABATE-TETO (R$)                                                               2375831
ABATE-TETO (U$)                                                               2375831
GRATIFICAÇÃO NATALINA (R$)                                                    2375831
GRATIFICAÇÃO NATALINA (U$)                                                    2375831
ABATE-TETO DA GRATIFICAÇÃO NATALINA (R$)                                      2375831
ABATE-TETO DA GRATIFICAÇÃO NATALINA (U$)                                      2375831
FÉRIAS (R$)                                                                   2375831
FÉRIAS (U$)                                                                   2375831
OUTRAS REMUNERAÇÕES EVENTUAIS (R$)                                            2375831
OUTRAS REMUNERAÇÕES EVENTUAIS (U$)                                            2375831
IRRF (R$)                                                                     2375831
IRRF (U$)                                                                     2375831
PSS RPGS (R$)                                                                 2375831
PSS RPGS (U$)                                                                 2375831
PENSÃO MILITAR (R$)                                                           2375831
PENSÃO MILITAR (U$)                                                           2375831
FUNDO DE SAÚDE (R$)                                                           2375831
FUNDO DE SAÚDE (U$)                                                           2375831
DEMAIS DEDUÇÕES (R$)                                                          2375831
DEMAIS DEDUÇÕES (U$)                                                          2375831
REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)                                   2375831
REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$)                                   2375831
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*)      2375831
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*)      2375831
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*)    2375831
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*)    2375831
TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*)                                        2375831
TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*)                                        2375831
TOTAL DE JETONS                                                               2375831
dtype: int64

In [59]:
f.dtypes

ANO                                                                            object
MES                                                                           float64
ID_SERVIDOR_PORTAL                                                            float64
CPF                                                                            object
NOME                                                                           object
REMUNERAÇÃO BÁSICA BRUTA (R$)                                                  object
REMUNERAÇÃO BÁSICA BRUTA (U$)                                                  object
ABATE-TETO (R$)                                                                object
ABATE-TETO (U$)                                                               float64
GRATIFICAÇÃO NATALINA (R$)                                                     object
GRATIFICAÇÃO NATALINA (U$)                                                     object
ABATE-TETO DA GRATIFICAÇÃO NATALINA (R$)                                       object
ABATE-TETO DA GRATIFICAÇÃO NATALINA (U$)                                      float64
FÉRIAS (R$)                                                                    object
FÉRIAS (U$)                                                                    object
OUTRAS REMUNERAÇÕES EVENTUAIS (R$)                                             object
OUTRAS REMUNERAÇÕES EVENTUAIS (U$)                                             object
IRRF (R$)                                                                      object
IRRF (U$)                                                                      object
PSS RPGS (R$)                                                                  object
PSS RPGS (U$)                                                                  object
PENSÃO MILITAR (R$)                                                            object
PENSÃO MILITAR (U$)                                                           float64
FUNDO DE SAÚDE (R$)                                                            object
FUNDO DE SAÚDE (U$)                                                           float64
DEMAIS DEDUÇÕES (R$)                                                           object
DEMAIS DEDUÇÕES (U$)                                                           object
REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)                                    object
REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$)                                    object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*)       object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*)       object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*)     object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*)    float64
TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*)                                         object
TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*)                                         object
TOTAL DE JETONS                                                                object
dtype: object

In [61]:
f.ANO

0                                                       2012
1                                                       2012
2                                                       2012
3                                                       2012
4                                                       2012
5                                                       2012
6                                                       2012
7                                                       2012
8                                                       2012
9                                                       2012
10                                                      2012
11                                                      2012
12                                                      2012
13                                                      2012
14                                                      2012
15                                                      2012
16                                                      2012
17                                                      2012
18                                                      2012
19                                                      2012
20                                                      2012
21                                                      2012
22                                                      2012
23                                                      2012
24                                                      2012
25                                                      2012
26                                                      2012
27                                                      2012
28                                                      2012
29                                                      2012
                                 ...
2375803                                                 2013
2375804                                                 2013
2375805                                                 2013
2375806                                                 2013
2375807                                                 2013
2375808                                                 2013
2375809                                                 2013
2375810                                                 2013
2375811                                                 2013
2375812                                                 2013
2375813                                                 2013
2375814                                                 2013
2375815                                                 2013
2375816                                                 2013
2375817                                                 2013
2375818                                                 2013
2375819                                                 2013
2375820                                                 2013
2375821                                                 2013
2375822                                                 2013
2375823                                                 2013
2375824                                                 2013
2375825                                                 2013
2375826                                                 2013
2375827                                                 2013
2375828                                                 2013
2375829                                                 2013
2375830                                                 2013
2375831    (*) Verbas indenizatórias são as parcelas inde...
2375832                                                    
Name: ANO, dtype: object

In [86]:
df.index[2375831]

2375831

In [95]:
df['ANO'] = pd.to_numeric(df['ANO'], errors='coerce')
df.ANO

0          2012.0
1          2012.0
2          2012.0
3          2012.0
4          2012.0
5          2012.0
6          2012.0
7          2012.0
8          2012.0
9          2012.0
10         2012.0
11         2012.0
12         2012.0
13         2012.0
14         2012.0
15         2012.0
16         2012.0
17         2012.0
18         2012.0
19         2012.0
20         2012.0
21         2012.0
22         2012.0
23         2012.0
24         2012.0
25         2012.0
26         2012.0
27         2012.0
28         2012.0
29         2012.0
            ...
2375803    2013.0
2375804    2013.0
2375805    2013.0
2375806    2013.0
2375807    2013.0
2375808    2013.0
2375809    2013.0
2375810    2013.0
2375811    2013.0
2375812    2013.0
2375813    2013.0
2375814    2013.0
2375815    2013.0
2375816    2013.0
2375817    2013.0
2375818    2013.0
2375819    2013.0
2375820    2013.0
2375821    2013.0
2375822    2013.0
2375823    2013.0
2375824    2013.0
2375825    2013.0
2375826    2013.0
2375827    2013.0
2375828    2013.0
2375829    2013.0
2375830    2013.0
2375831       NaN
2375832       NaN
Name: ANO, dtype: float64

In [97]:
df.dtypes

ANO                                                                           float64
MES                                                                           float64
ID_SERVIDOR_PORTAL                                                            float64
CPF                                                                            object
NOME                                                                           object
REMUNERAÇÃO BÁSICA BRUTA (R$)                                                  object
REMUNERAÇÃO BÁSICA BRUTA (U$)                                                  object
ABATE-TETO (R$)                                                                object
ABATE-TETO (U$)                                                               float64
GRATIFICAÇÃO NATALINA (R$)                                                     object
GRATIFICAÇÃO NATALINA (U$)                                                     object
ABATE-TETO DA GRATIFICAÇÃO NATALINA (R$)                                       object
ABATE-TETO DA GRATIFICAÇÃO NATALINA (U$)                                      float64
FÉRIAS (R$)                                                                    object
FÉRIAS (U$)                                                                    object
OUTRAS REMUNERAÇÕES EVENTUAIS (R$)                                             object
OUTRAS REMUNERAÇÕES EVENTUAIS (U$)                                             object
IRRF (R$)                                                                      object
IRRF (U$)                                                                      object
PSS RPGS (R$)                                                                  object
PSS RPGS (U$)                                                                  object
PENSÃO MILITAR (R$)                                                            object
PENSÃO MILITAR (U$)                                                           float64
FUNDO DE SAÚDE (R$)                                                            object
FUNDO DE SAÚDE (U$)                                                           float64
DEMAIS DEDUÇÕES (R$)                                                           object
DEMAIS DEDUÇÕES (U$)                                                           object
REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)                                    object
REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$)                                    object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*)       object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*)       object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*)     object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*)    float64
TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*)                                         object
TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*)                                         object
TOTAL DE JETONS                                                                object
dtype: object

In [104]:
df['REMUNERAÇÃO BÁSICA BRUTA (R$)'] = pd.to_numeric(df['REMUNERAÇÃO BÁSICA BRUTA (R$)'], errors='coerce')
df.dtypes

ANO                                                                           float64
MES                                                                           float64
ID_SERVIDOR_PORTAL                                                            float64
CPF                                                                            object
NOME                                                                           object
REMUNERAÇÃO BÁSICA BRUTA (R$)                                                 float64
REMUNERAÇÃO BÁSICA BRUTA (U$)                                                  object
ABATE-TETO (R$)                                                                object
ABATE-TETO (U$)                                                               float64
GRATIFICAÇÃO NATALINA (R$)                                                     object
GRATIFICAÇÃO NATALINA (U$)                                                     object
ABATE-TETO DA GRATIFICAÇÃO NATALINA (R$)                                       object
ABATE-TETO DA GRATIFICAÇÃO NATALINA (U$)                                      float64
FÉRIAS (R$)                                                                    object
FÉRIAS (U$)                                                                    object
OUTRAS REMUNERAÇÕES EVENTUAIS (R$)                                             object
OUTRAS REMUNERAÇÕES EVENTUAIS (U$)                                             object
IRRF (R$)                                                                      object
IRRF (U$)                                                                      object
PSS RPGS (R$)                                                                  object
PSS RPGS (U$)                                                                  object
PENSÃO MILITAR (R$)                                                            object
PENSÃO MILITAR (U$)                                                           float64
FUNDO DE SAÚDE (R$)                                                            object
FUNDO DE SAÚDE (U$)                                                           float64
DEMAIS DEDUÇÕES (R$)                                                           object
DEMAIS DEDUÇÕES (U$)                                                           object
REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)                                    object
REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$)                                    object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*)       object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*)       object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*)     object
VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*)    float64
TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*)                                         object
TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*)                                         object
TOTAL DE JETONS                                                                object
dtype: object

In [107]:
df2 = pd.DataFrame(df, columns=['ANO','MES','CPF','REMUNERAÇÃO BÁSICA BRUTA (R$)'])
df2.tail(4)

            ANO  MES             CPF  REMUNERAÇÃO BÁSICA BRUTA (R$)
2375829  2013.0  1.0  ***.249.365-**                            NaN
2375830  2013.0  1.0  ***.857.198-**                            NaN
2375831     NaN  NaN             NaN                            NaN
2375832     NaN  NaN             NaN                            NaN

In [112]:
df2.count()

ANO                              2375831
MES                              2375831
CPF                              2375831
REMUNERAÇÃO BÁSICA BRUTA (R$)     223834
dtype: int64

In [115]:
df2.isnull().sum()

ANO                                    2
MES                                    2
CPF                                    2
REMUNERAÇÃO BÁSICA BRUTA (R$)    2151999
dtype: int64

In [117]:
df2.head(20)

       ANO   MES             CPF  REMUNERAÇÃO BÁSICA BRUTA (R$)
0   2012.0  11.0  ***.017.623-**                            NaN
1   2012.0  11.0  ***.292.777-**                            NaN
2   2012.0  11.0  ***.056.281-**                            NaN
3   2012.0  11.0  ***.116.132-**                            NaN
4   2012.0  11.0  ***.031.184-**                            NaN
5   2012.0  11.0  ***.859.807-**                            NaN
6   2012.0  11.0  ***.086.942-**                            NaN
7   2012.0  11.0  ***.040.008-**                            NaN
8   2012.0  11.0  ***.344.799-**                            NaN
9   2012.0  11.0  ***.873.832-**                            NaN
10  2012.0  11.0  ***.302.392-**                            NaN
11  2012.0  11.0  ***.681.016-**                            NaN
12  2012.0  11.0  ***.114.251-**                            NaN
13  2012.0  11.0  ***.438.750-**                            NaN
14  2012.0  11.0  ***.834.461-**                            NaN
15  2012.0  11.0  ***.772.411-**                            NaN
16  2012.0  11.0  ***.406.551-**                            NaN
17  2012.0  11.0  ***.611.031-**                            NaN
18  2012.0  11.0  ***.391.966-**                            NaN
19  2012.0  11.0  ***.316.491-**                            NaN

In [119]:
df.head(20)

,ANO,MES,ID_SERVIDOR_PORTAL,CPF,NOME,REMUNERAÇÃO BÁSICA BRUTA (R$),REMUNERAÇÃO BÁSICA BRUTA (U$),ABATE-TETO (R$),ABATE-TETO (U$),GRATIFICAÇÃO NATALINA (R$),...,DEMAIS DEDUÇÕES (U$),REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$),REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*),TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*),TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*),TOTAL DE JETONS
0,2012.0,11.0,1891441.0,***.017.623-**,AARAO CARLOS LUZ MACAMBIRA,NaN,0,0,0.0,"3208,44",...,0,"3913,14",0,400,0,0,0.0,400,0,0
1,2012.0,11.0,1758740.0,***.292.777-**,AARAO CAVALCANTE DE AMORIM,NaN,0,0,0.0,"5095,03",...,0,"5593,03",0,"592,2",0,0,0.0,"592,2",0,0
2,2012.0,11.0,1608665.0,***.056.281-**,AARAO DIAMANTINO OLIVEIRA,NaN,0,0,0.0,"11385,49",...,0,"19764,33",0,304,0,0,0.0,304,0,0
3,2012.0,11.0,1664175.0,***.116.132-**,AARAO FERREIRA LIMA NETO,NaN,0,0,0.0,"5833,51",...,0,"6628,32",0,304,0,0,0.0,304,0,0
4,2012.0,11.0,1453249.0,***.031.184-**,AARAO PEREIRA DE ARAUJO JUNIOR,NaN,0,0,0.0,"11562,44",...,0,"10833,1",0,600,0,0,0.0,600,0,0
5,2012.0,11.0,1520115.0,***.859.807-**,AARAO SOARES,NaN,0,0,0.0,"3742,76",...,0,"4604,97",0,"733,91",0,0,0.0,"733,91",0,0
6,2012.0,11.0,2038317.0,***.086.942-**,AARAO TEIXEIRA DOS SANTOS,NaN,0,0,0.0,"1673,13",...,0,"2675,16",0,405,0,0,0.0,405,0,0
7,2012.0,11.0,1438911.0,***.040.008-**,AARON AILTON MESSIAS,NaN,0,0,0.0,"642,68",...,0,"2165,08",0,0,0,0,0.0,0,0,0
8,2012.0,11.0,1598977.0,***.344.799-**,AARON BELCZAK REINERT,NaN,0,0,0.0,"6828,3",...,0,"7276,33",0,0,0,"2297,12",0.0,"2297,12",0,0
9,2012.0,11.0,2007975.0,***.873.832-**,AARON JONATHAN EDWARDS,NaN,0,0,0.0,"2215,54",...,0,"2802,39",0,"492,51",0,0,0.0,"492,51",0,0
10,2012.0,11.0,1836825.0,***.302.392-**,AARON SPILLEY MENDES LIMA,NaN,0,0,0.0,"1396,35",...,0,1962,0,0,0,"67,63",0.0,"67,63",0,0
11,2012.0,11.0,1448404.0,***.681.016-**,ABA ISRAEL COHEN PERSIANO,NaN,0,0,0.0,"15236,31",...,0,"15296,33",0,304,0,0,0.0,304,0,0
12,2012.0,11.0,1825186.0,***.114.251-**,ABADAN KARISTAD F. DA SILVA,NaN,0,0,0.0,"2261,82",...,0,"3553,52",0,0,0,"470,4",0.0,"470,4",0,0
13,2012.0,11.0,1571491.0,***.438.750-**,ABADE FERREIRA DA SILVA,NaN,0,0,0.0,"2079,66",...,0,"2859,56",0,0,0,"184,49",0.0,"184,49",0,0
14,2012.0,11.0,1313966.0,***.834.461-**,ABADIA CANDIDA LEMES,NaN,0,0,0.0,"4241,96",...,0,"5041,12",0,"456,98",0,0,0.0,"456,98",0,0
15,2012.0,11.0,1203394.0,***.772.411-**,ABADIA DA GLORIA ARAUJO SPEZIA,NaN,0,0,0.0,"3820,27",...,0,"8385,1",0,32,0,0,0.0,32,0,0
16,2012.0,11.0,1067838.0,***.406.551-**,ABADIA DAS GRACAS COELHO,NaN,0,0,0.0,"6457,67",...,0,"7242,53",0,390,0,0,0.0,390,0,0
17,2012.0,11.0,1199513.0,***.611.031-**,ABADIA DE FATIMA RESENDE,NaN,0,0,0.0,"2346,56",...,0,"2975,7",0,304,0,0,0.0,304,0,0
18,2012.0,11.0,1819346.0,***.391.966-**,ABADIA DE FATIMA ROSA MACEDO,NaN,0,0,0.0,"5475,21",...,0,"5999,41",0,388,0,0,0.0,388,0,0
19,2012.0,11.0,1954633.0,***.316.491-**,ABADIA DE MELO COUTINHO,NaN,0,0,0.0,"3951,14",...,0,"5035,29",0,"632,38",0,0,0.0,"632,38",0,0

In [120]:
f.head(20)

,ANO,MES,ID_SERVIDOR_PORTAL,CPF,NOME,REMUNERAÇÃO BÁSICA BRUTA (R$),REMUNERAÇÃO BÁSICA BRUTA (U$),ABATE-TETO (R$),ABATE-TETO (U$),GRATIFICAÇÃO NATALINA (R$),...,DEMAIS DEDUÇÕES (U$),REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$),REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (U$),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - CIVIL (U$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (R$)(*),VERBAS INDENIZATÓRIAS REGISTRADAS EM SISTEMAS DE PESSOAL - MILITAR (U$)(*),TOTAL DE VERBAS INDENIZATÓRIAS (R$)(*),TOTAL DE VERBAS INDENIZATÓRIAS (U$)(*),TOTAL DE JETONS
0,2012.0,11.0,1891441.0,***.017.623-**,AARAO CARLOS LUZ MACAMBIRA,NaN,0,0,0.0,"3208,44",...,0,"3913,14",0,400,0,0,0.0,400,0,0
1,2012.0,11.0,1758740.0,***.292.777-**,AARAO CAVALCANTE DE AMORIM,NaN,0,0,0.0,"5095,03",...,0,"5593,03",0,"592,2",0,0,0.0,"592,2",0,0
2,2012.0,11.0,1608665.0,***.056.281-**,AARAO DIAMANTINO OLIVEIRA,NaN,0,0,0.0,"11385,49",...,0,"19764,33",0,304,0,0,0.0,304,0,0
3,2012.0,11.0,1664175.0,***.116.132-**,AARAO FERREIRA LIMA NETO,NaN,0,0,0.0,"5833,51",...,0,"6628,32",0,304,0,0,0.0,304,0,0
4,2012.0,11.0,1453249.0,***.031.184-**,AARAO PEREIRA DE ARAUJO JUNIOR,NaN,0,0,0.0,"11562,44",...,0,"10833,1",0,600,0,0,0.0,600,0,0
5,2012.0,11.0,1520115.0,***.859.807-**,AARAO SOARES,NaN,0,0,0.0,"3742,76",...,0,"4604,97",0,"733,91",0,0,0.0,"733,91",0,0
6,2012.0,11.0,2038317.0,***.086.942-**,AARAO TEIXEIRA DOS SANTOS,NaN,0,0,0.0,"1673,13",...,0,"2675,16",0,405,0,0,0.0,405,0,0
7,2012.0,11.0,1438911.0,***.040.008-**,AARON AILTON MESSIAS,NaN,0,0,0.0,"642,68",...,0,"2165,08",0,0,0,0,0.0,0,0,0
8,2012.0,11.0,1598977.0,***.344.799-**,AARON BELCZAK REINERT,NaN,0,0,0.0,"6828,3",...,0,"7276,33",0,0,0,"2297,12",0.0,"2297,12",0,0
9,2012.0,11.0,2007975.0,***.873.832-**,AARON JONATHAN EDWARDS,NaN,0,0,0.0,"2215,54",...,0,"2802,39",0,"492,51",0,0,0.0,"492,51",0,0
10,2012.0,11.0,1836825.0,***.302.392-**,AARON SPILLEY MENDES LIMA,NaN,0,0,0.0,"1396,35",...,0,1962,0,0,0,"67,63",0.0,"67,63",0,0
11,2012.0,11.0,1448404.0,***.681.016-**,ABA ISRAEL COHEN PERSIANO,NaN,0,0,0.0,"15236,31",...,0,"15296,33",0,304,0,0,0.0,304,0,0
12,2012.0,11.0,1825186.0,***.114.251-**,ABADAN KARISTAD F. DA SILVA,NaN,0,0,0.0,"2261,82",...,0,"3553,52",0,0,0,"470,4",0.0,"470,4",0,0
13,2012.0,11.0,1571491.0,***.438.750-**,ABADE FERREIRA DA SILVA,NaN,0,0,0.0,"2079,66",...,0,"2859,56",0,0,0,"184,49",0.0,"184,49",0,0
14,2012.0,11.0,1313966.0,***.834.461-**,ABADIA CANDIDA LEMES,NaN,0,0,0.0,"4241,96",...,0,"5041,12",0,"456,98",0,0,0.0,"456,98",0,0
15,2012.0,11.0,1203394.0,***.772.411-**,ABADIA DA GLORIA ARAUJO SPEZIA,NaN,0,0,0.0,"3820,27",...,0,"8385,1",0,32,0,0,0.0,32,0,0
16,2012.0,11.0,1067838.0,***.406.551-**,ABADIA DAS GRACAS COELHO,NaN,0,0,0.0,"6457,67",...,0,"7242,53",0,390,0,0,0.0,390,0,0
17,2012.0,11.0,1199513.0,***.611.031-**,ABADIA DE FATIMA RESENDE,NaN,0,0,0.0,"2346,56",...,0,"2975,7",0,304,0,0,0.0,304,0,0
18,2012.0,11.0,1819346.0,***.391.966-**,ABADIA DE FATIMA ROSA MACEDO,NaN,0,0,0.0,"5475,21",...,0,"5999,41",0,388,0,0,0.0,388,0,0
19,2012.0,11.0,1954633.0,***.316.491-**,ABADIA DE MELO COUTINHO,NaN,0,0,0.0,"3951,14",...,0,"5035,29",0,"632,38",0,0,0.0,"632,38",0,0